# Node / Dependencies
node_modules/
.pnpm-store/
dist/
build/
.next/

# Hardhat build artifacts
artifacts/
cache/

# Environment / Logs
.env
.env.local
.env.*.local
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
